<div>
 <mat-toolbar>
    <button mat-icon-button (click)="isSideNavOpen()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Enlight</span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="status">
      <mat-nav-list>
        <a 
            mat-list-item [routerLink]="'/search'">
            <mat-icon>search</mat-icon> Search
        </a>

        <a 
            mat-list-item [routerLink]="'/shoppingCart'">
            <mat-icon 
            [matBadge]="cartCount"
            matBadgePosition="above before"
            matBadgeColor="accent"
            >shopping_cart</mat-icon> shopping_cart
    </a>
        
    <a 
            mat-list-item [routerLink]="'/myCollection'">
            <mat-icon>library_books</mat-icon>MyCollection
    </a>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>